.heroes-card {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.title {
  margin: 0;
}

table {
  width: 100%;
  margin-top: 20px;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}

.full-width {
  width: 100%;
}
